:plain
  ---
  layout: layout
  title: This Blog
  ---
#index
  %div#logo k
  %ul#posts
    :plain
      {% for post in site.posts %}
    %li
      %span.summary {{ post.summary }}
      %span.date {{ post.date | date_to_string }}
      %a.title{ :href => "{{ post.url }}", :title => 'k on: "{{ post.title }}"' } {{ post.title }}
    :plain
      {% endfor %}
  %div{ :style => 'clear:both;' }

