%p
  (c) 2009 by karottenreibe.
  Licensed under the
  %a{ :title => 'The license of the stuff on this webpage', :href => '/static/LICENSE.txt' } MIT License
  unless otherwise indicated.
%p
  Thank you
  %a{ :href => 'http://github.com/mojombo/jekyll', :title => "Jekyll -- a static website generator" } Jekyll
  and
  %a{ :href => 'http://www.github.com/', :title => 'GitHub -- social coding' } GitHub
  !

