%ul#links
  %li
    %a{ :href => '/', :title => 'Go back to the topmost page' } Home
  %li
    %a{ :href => '/rss.xml', :title => 'The RSS feed for this blog' } RSS feed

%span.spacer Projects:
%ul#projects
  %li
    %a{ :href => 'http://karottenreibe.github.com/joker', :title => 'Joker' } Joker
  %li
    %a{ :href => 'http://karottenreibe.github.com/caty', :title => 'Caty' } Caty
  %li
    %a{ :href => 'http://www.github.com/karottenreibe/rake-tester', :title => '' } rake-tester
  %li
    %a{ :href => 'http://qwicky.heroku.com', :title => 'Qwicky' } Qwicky
  %li
    %a{ :href => 'http://www.github.com/karottenreibe/tdr', :title => '' } tdr

