<ul id='links'>
  <li>
    <a href='/' title='Go back to the topmost page'>Home</a>
  </li>
  <li>
    <a href='/rss.xml' title='The RSS feed for this blog'>RSS feed</a>
  </li>
</ul>
<ul id='projects'>
  <li>
    <a href='http://karottenreibe.github.com/joker' title='Joker'>Joker</a>
  </li>
  <li>
    <a href='http://karottenreibe.github.com/caty' title='Caty'>Caty</a>
  </li>
  <li>
    <a href='http://www.github.com/karottenreibe/rake-tester' title=''>rake-tester</a>
  </li>
  <li>
    <a href='http://qwicky.heroku.com' title='Qwicky'>Qwicky</a>
  </li>
  <li>
    <a href='http://www.github.com/karottenreibe/tdr' title=''>tdr</a>
  </li>
</ul>
