!white = #fff
!grey = #ddd
!lightgrey = #eee
!black = #000
!orange = #f50


=rounded( !radius = 0.3em )
  :-moz-border-radius= !radius
  :-webkit-border-radius= !radius

=greybox( !border = 1px )
  :background-color= !lightgrey
  :border= !border "solid" !grey


html, body
  :margin 0px
  :padding 0px
  :font-family monospace
  :color= !black
  :background-color= !white

a
  :color= !orange
  :text-decoration none
  :font-size 1.1em
  :border-bottom 1px "solid" "transparent"

  &:focus
    :border= 1px "dotted" !orange

  &:visited
    :border-bottom= 1px "dashed" !orange

  &:hover
    :border-bottom= 1px "dotted" !orange

hr
  :width 120%
  :position relative
  :left -10%
  :color= !grey
  :background-color= !grey
  :border none

h1, h2, h3, h4, h5, h6
  :border-top= 3px "solid" !grey
  :padding-top 5px

h1:first-child
  :border none

blockquote
  :border= 2px "solid" !grey
  :background-color= !lightgrey
  :font-style italic
  :margin 0
  +rounded

  &:before
    :content '”'
    :font-size 3em
    :color= !grey

  p
    :margin 0 3em 0 3em
    :position relative
    :top -2em

    & + p
      :padding-top 1em

pre
  :padding 1em
  :overflow auto
  +rounded
  +greybox

  &.email
    :white-space normal

code
  +greybox
  :display inline-block

pre code
  +greybox(0px)
  :display inline


#index
  :margin auto
  :padding 40px 0 10em
  :width 1000px

  #logo
    :float right
    :font-size 500px
    :z-index -1
    :font-style italic
    :color= !lightgrey

  ul#posts
    :list-style-type none
    :float left
    :background-color= !lightgrey

    li
      :padding 1em 3em

      .date
        :display block

      .summary
        :display none
        :font-size 0.9em
        :font-style italic
        :float right
        :margin-right -400px
        :width 300px

      &:hover
        :background-color= !grey

        .summary
          :display block

#post
  :margin 0 auto 6em auto
  :padding 80px 80px 20px 80px
  :width 500px

  div#comments
    :text-align center
    :padding 2em

    a
      :font-size 1.3em
      :font-family serif


#footer
  :border-top= 3px "solid" !grey
  :background-color= !lightgrey
  :font-family serif
  :font-size 0.8em
  :text-align center
  :padding 10px
  :position fixed
  :width 100%
  :bottom 0px

  p
    :padding 0.3em
    :margin 0

