html, body {
  margin: 0px;
  padding: 0px;
  font-family: monospace;
  color: black;
  background-color: white; }

img {
  border: none; }

a {
  color: #ff5500;
  text-decoration: none;
  font-size: 1.1em;
  border-bottom: 1px "solid" "transparent"; }
  a:focus {
    border: 1px dotted #ff5500; }
  a:visited {
    border-bottom: 1px dashed #ff5500; }
  a:hover {
    border-bottom: 1px dotted #ff5500; }

ins {
  background-color: #eeeeee; }

del {
  color: #bbbbbb; }

hr {
  width: 120%;
  position: relative;
  left: -10%;
  color: #dddddd;
  background-color: #dddddd;
  border: none; }

h1, h2, h3, h4, h5, h6 {
  border-top: 3px solid #dddddd;
  padding-top: 5px; }

h1:first-child {
  border: none; }

blockquote {
  border: 2px solid #dddddd;
  background-color: #eeeeee;
  font-style: italic;
  margin: 0;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em; }
  blockquote:before {
    content: '”';
    font-size: 3em;
    color: #dddddd; }
  blockquote p {
    margin: 0 3em 0 3em;
    position: relative;
    top: -2em; }
    blockquote p + p {
      padding-top: 1em; }

pre {
  padding: 1em;
  overflow: auto;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  background-color: #eeeeee;
  border: 1px solid #dddddd; }
  pre.email {
    white-space: normal; }

code {
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  display: inline-block; }

pre code {
  background-color: #eeeeee;
  border: 0px solid #dddddd;
  display: inline; }

#forkme {
  position: fixed;
  top: 0px;
  right: 0px;
  border: none; }

#index {
  margin: auto;
  padding: 40px 0 10em;
  width: 1000px; }
  #index #logo {
    float: right;
    font-size: 500px;
    z-index: -1;
    font-style: italic;
    color: #eeeeee; }
  #index ul#posts {
    list-style-type: none;
    float: left;
    background-color: #eeeeee; }
    #index ul#posts li {
      padding: 1em 3em; }
      #index ul#posts li .date {
        display: block; }
      #index ul#posts li .summary {
        display: none;
        font-size: 0.9em;
        font-style: italic;
        float: right;
        margin-right: -400px;
        width: 300px; }
      #index ul#posts li:hover {
        background-color: #dddddd; }
        #index ul#posts li:hover .summary {
          display: block; }

#post {
  margin: 0 auto 6em auto;
  padding: 80px 80px 20px 80px;
  width: 500px; }
  #post div#comments {
    text-align: center;
    padding: 2em; }
    #post div#comments a {
      font-size: 1.3em;
      font-family: serif; }

#footer {
  border-top: 3px solid #dddddd;
  background-color: #eeeeee;
  font-family: serif;
  font-size: 0.8em;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0px; }
  #footer p {
    padding: 0.3em;
    margin: 0; }
