!!! XML
!!! Strict
%html{html_attrs}

  %head
    %title k on "{{ page.title }}"
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => "/static/stylesheet.css" }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => "/static/syntax.css" }

  %body

    %a#forkme{ :href => 'http://www.github.com/karottenreibe', :title => 'Fork me on GitHub' }
      %img{ :src => '/static/images/forkme.png', :alt => 'Fork me on GitHub' }

    #header
      {% include header.html %}

    {{ content }}

    #footer
      {% include footer.html %}

