!!! XML
!!! Strict
%html{html_attrs}

  %head
    %title k on "{{ page.title }}"
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => "/static/stylesheet.css" }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => "/static/syntax.css" }

  %body

    %a#forkme{ :href => '', :title => '' }
      %img{ :src => '/static/images/forkme.png', :alt => '' }

    {{ content }}

    #footer
      %p
        %a{ :href => '/', :title => 'Go back to the topmost page' } Home
        &bull;
        %a{ :href => '/rss.xml', :title => 'The RSS feed for this blog' } RSS feed
      %p
        (c) 2009 by karottenreibe.
        Licensed under the
        %a{ :title => 'The license of the stuff on this webpage', :href => '/static/LICENSE.txt' } MIT License
        unless otherwise indicated.
      %p
        Thank you
        %a{ :href => 'http://github.com/mojombo/jekyll', :title => "Jekyll -- a static website generator" } Jekyll
        and
        %a{ :href => 'http://www.github.com/', :title => 'GitHub -- social coding' } GitHub
        !

