<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='en-US' xml:lang='en-US' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>k on "{{ page.title }}"</title>
    <link href='/static/stylesheet.css' rel='stylesheet' type='text/css' />
    <link href='/static/syntax.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <a href='http://www.github.com/karottenreibe' id='forkme' title='Fork me on GitHub'>
      <img alt='Fork me on GitHub' src='/static/images/forkme.png' />
    </a>
    <div id='header'>
      {% include header.html %}
    </div>
    {{ content }}
    <div id='footer'>
      {% include footer.html %}
    </div>
  </body>
</html>
